*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-style: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-style: 1.6rem;
    background-color: #333333;
}

.hero-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: -1;
}

.orange-color{
    color: rgb(255,102,0);
}

/* NAWIGACJA */
.navbar-brand {
    font-size: 2.2rem;
    font-weight: bold;
}

nav .navbar-nav, nav .fa-bars {
    font-size: 1.6rem;
    text-transform: uppercase;
}

nav .fa-bars {
    padding: 1rem 2rem;
}

