* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-style: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: -1;
}

.orange-color {
    color: rgb(255,102,0);
}

/* NAWIGACJA */
.navbar-brand {
    font-size: 2.2rem;
    font-weight: bold;
    margin-right: 0;
}

nav .navbar-nav, nav .fa-bars {
    font-size: 1.8rem;
    text-transform: uppercase;
}

nav .fa-bars {
    padding: 1rem 1rem;
}

/* HEADER */
header {
    position: relative;
    height: 60rem;
    background-image: url('./img/header.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

header .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.header-text {
    font-size: 2.2rem;
}

/* ABOUT US */

.about-boxes h3 {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.about-icon {
    font-size: 3rem;
}